<div id="main-menu-mobile" class="main-menu-mobile">
  {% assign mainmenu = site.data.menus.main | sort: 'weight'  %}
  <ul>
    {% for item in mainmenu %}
    <li class="{% if item.url == page.url %}active{% endif %} {% if item.children %}has-children{% endif %}">
      <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
      {% if item.children %}
      <ul class="submenu">
        {% for child in item.children %}
        <li>
          <a href="{{ child.url | relative_url }}">{{ child.name }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
